body {
	font-family: 'Open Sans', sans-serif;
}

.hide {
	display: none;
}

ul.rss-tags {
	list-style-type: none;
	padding: 0;
}

ul.rss-tags li {
	color: #fff;
	display: inline-block;
	padding: 20px;
	margin: 20px;
	cursor: pointer;
}

ul.rss-tags li.rssVisible {
	display:inline-block;
}

ul.rss-tags li.rssHidden {
	display: none;
}

#moreTag {
	border: 1px solid #6c6c6c;
	border-radius: 10px;
	padding: 7px;
	font-weight: bold;
	color: #6c6c6c;
	cursor: pointer;
}

.rssTagsHolder {
	margin: 20px;
}

.title {
	color: #6c6c6c;
	font-size: 40px;
	margin: 20px;
}

.modal-body {
	padding:30px;
}

.modal-body audio {
	width: 100%;
}

.modal-body a.download {
	position: relative;
	top: -10px;
}
