body {
	font-family: 'Open Sans', sans-serif;
}

.hide {
	display: none;
}

ul.rss-tags {
	list-style-type: none;
	padding: 0;
	text-align: center;
}

ul.rss-tags li {
	color: #fff;
	display: inline-block;
	padding: 20px;
	margin: 20px;
	cursor: pointer;
}

ul.rss-tags li.rssVisible {
	display:inline-block;
}

ul.rss-tags li.rssHidden {
	display: none;
}

#moreTag {
	border: 1px solid #6c6c6c;
	border-radius: 10px;
	padding: 7px;
	font-weight: bold;
	color: #6c6c6c;
	cursor: pointer;
	margin-left: 20px;
}

.rssTagsHolder {
	margin: 20px;
}

.numOfSources {
	font-weight: bold;
	position: relative;
	right: -25px;
	color: #fff;
	top: -25px;
	font-size: 13px;
	float: right;
	background-color: #444;
	border-radius: 20px;
	height: 22px;
	width: 22px;
	line-height: 22px;
}

.title {	
	color: #6c6c6c;
	font-size: 40px;
	margin: 20px;
}

.modal-body {
	padding:30px;
}

.modal-body audio {
	width: 100%;
}

.modal-body a.download {
	position: relative;
	top: -10px;
}


.editorContainer {
	border: 1px solid rgba(0,0,0,0.2);
	margin-top:30px;
}

.editorContainer aside {
	float: left;
    	width: 20%;
    	height: 100%;
    	display: inline-block;
    	position: absolute;
    	overflow: auto;
}

.editorContainer aside .par-header {
	background-color: #444;
	color: #fff;
	width: 100%;
	margin: auto;
	position: absolute;
	padding: 10px 0;
	text-align: center;
	max-height: 50px;
}

.editorContainer aside .par-header .small {
	font-size: 10px;
}

.editorContainer aside ul {
	overflow: auto;
	list-style: auto;
	padding:5px;
	margin-top: 50px;
}

.editorContainer aside ul li {
	cursor: move;
	margin: 5px;
	padding: 5px;
	background: #efefef;
	word-wrap: break-word;
}

.editorContainer .mce-tinymce {
	float: right;
    	width: 80%;
    	display: inline-block;
}

.loader {
	background-image: url("../loader.gif");
	width: 64px;
	height: 64px;
	display: block;
	margin: auto;
}

.loader-text, #modalVideo .errors{
	padding: 20px;
    display: block;
    text-align: center;
}

#modalVideo .modal-dialog {
	width: 700px;

} 
